# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# DVC cache and local config
data/*
!data/*.dvc 
/.dvc/cache/
/.dvc/tmp/


# Data or model files (optional, depending on DVC)

models/

# Docker artifacts
*.pid

# Others (optional)
*.bak
*.swp

# MLflow experiment tracking
mlruns/
mlartifacts/